@import "fonts"; // Шрифты
@import "variables"; // Переменные
@import "reset"; // Сброс css

// Миксин для перевода px в vw
@function vw($px) {
  @return calc($px / (1920 / 100vw));
}

// Общие стили для страниц
// Стиль выделения элементов на странице
::selection {
  color: #fff;
  // background: #CCF2E9;
  background: $accent-hover;
}
::-moz-selection {
  color: #fff;
  // background: #CCF2E9;
  background: $accent-hover;
}

// Стиль скроллбара
// body::-webkit-scrollbar {
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: .6em;
//     height: 100%;
// }

// body::-webkit-scrollbar-track {
//     background: #FEF1EB;
// }

// body::-webkit-scrollbar-thumb {
//     background-color: #CAC1BC;
// }

body {
  font-family: $ffMain;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: $main;
  letter-spacing: 0.03em;
  background: $bg-page;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

@import "grid"; // Сетка
@import "animation"; // Анимация

// Компоненты
@import "components/buttons";
@import "components/forms";
@import "components/bread";
@import "components/cat-card";
@import "components/service-card";
@import "components/section-header";
@import "components/team-slider";
@import "components/team-card";
@import "components/project-card";
@import "components/news-card";
@import "components/modal";
@import "components/social-media";
@import "components/wp-style";
@import "components/sub-menu";
@import "components/img-cap";
@import "components/send-preloader";

// Текстовые компоненты
@import "components/text/text";
@import "components/text/titles";

// Секции
@import "sections/header";
@import "sections/main";
@import "sections/advantages";
@import "sections/briefly-do";
@import "sections/cat-section";
@import "sections/services-section";
@import "sections/project-section";
@import "sections/news-section";
@import "sections/vacancy-banner";
@import "sections/map-section";
@import "sections/footer";
@import "sections/page-content";
@import "sections/rule-section";
@import "sections/select-section";
@import "sections/worker-section";
@import "sections/main-blog";
@import "sections/content-blog";
@import "sections/office-section";
@import "sections/resume-section";
@import "sections/contacts-section";
@import "sections/map-contacts";

// Страницы
@import "pages/index/index";
@import "pages/category/category";
@import "pages/service/service";
@import "pages/categories/categories";
@import "pages/worker/worker";
@import "pages/project/project";
@import "pages/news/news";
@import "pages/404/404";

// Библиотеки
// @import 'libs/aos';
// @import 'libs/wow';
@import "libs/lightgallery";
@import "libs/swiper";
