// Ссылки
.link {
    transition: $tr;
    
    &:hover {
        
        @media (min-width: $minHover) {
            color: $accent-hover;
        }
    }

    &:active {
        color: $accent-active;
    }
}