.team-slider__section {

}

.team-slider__container {
    position: relative;
    
}

.team-slider {
    overflow: hidden;
    
    @media (max-width: $tablet) {
        overflow: initial;
    }
}

.team-slider__wrapper {

}

.team-slider__arrows {

}

.team-slider__next {

}

.team-slider__prev {

}

.team-slider__arrow {
    position: absolute;
    z-index: 1;
    top: 32%;

    @media (max-width: $mobile-l) {
        top: 28%;
    }
}

.team-slider__prev {
    left: 0;
    // transform: translate(-50%, 0);

    @media (max-width: 600px) {
        left: 6px;
    }
}

.team-slider__next {
    right: 0;
    // transform: translate(50%, 0);

    @media (max-width: 600px) {
        right: 6px;
    }
}