.categories-page {

    & .section__header {
        margin: 0 0 32px 0;
    }

    & .services-section {
        margin-bottom: 124px;

        @media (max-width: $tablet) {
            margin-bottom: 80px;
        }
    }
}