.content-blog {
    
    & p {
        color: $second;
        margin: 16px 0;
    }

    & .wp-block-image,
    & .wp-block-video {
        width: 100%;
        height: 420px;
        border-radius: 32px;
        overflow: hidden;
        margin: 64px 0;

        @media (max-width: $tablet) {
            height: auto;
            border-radius: 16px;
        }

        & img {
            object-fit: cover; 

            @media (max-width: $tablet) {
                object-fit: contain;
            }
        }
    }

    & .wp-block-video {
        position: relative;
        cursor: pointer;

        &:hover {

            @media (min-width: $minHover) {
                
                & #video-play-round {
                    fill: $accent-hover;
                }
            }
        }

        &:active {

            & #video-play-round {
                fill: $accent-active;
            }
        }

        & img {
            pointer-events: none;
        }
    }

    & .wp-block-video__play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 65px;
        height: 65px;
        transform: translate(-50%, -50%);

        & #video-play-round {
            transition: $tr;
        }
    }

    & h2 {
        font-size: 24px;
        font-weight: 900;
        margin: 32px 0;
    }

    & a {
        font-weight: 600;
        color: $accent;

        &:hover {
            
            @media (min-width: $minHover) {
                color: $accent-hover;
            }
        }

        &:active {
            color: $accent-active;
        }
    }
}

.content-blog__body {
    
}