.map-section {

}

.map-section__body {
    display: flex;

    @media (max-width: $tablet) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.map-section__map {
    min-width: 50%;
    width: 100%;
    height: 390px;
    border-radius: $radius;
    overflow: hidden;

    @media (max-width: 400px) {
        height: 210px;
    }

    & iframe {
        width: 100%;
        height: 100%;
    }
}

.map-section__block {
    max-width: 445px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    background: $bg-block;
    border-radius: $radius;
    padding: 24px;
    margin: 0 0 0 30px;

    @media (max-width: $tablet) {
        max-width: none;
        margin: 0 0 16px 0;
    }
}

.map-section__title {
    font-size: 24px;
    font-weight: 900;
}

.map-section__text {
    font-size: 16px;
    font-weight: 400;
    color: $second;
    margin: 16px 0 32px 0;
}

.map-section__btn {
    margin: auto 0 0 0;
}