.projects-section {
    margin-top: 32px;
}

.projects-section__header-more {

}

.projects-section__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 350px));
    grid-auto-rows: minmax(255px, min-content);
    gap: 30px;

    @media (max-width: $tablet) {
        grid-template-columns: repeat(2, minmax(min-content, 350px));
        gap: 24px;
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

.projects-section_limit {
    
    @media (max-width: $tablet) {
        
        & .project-card {
            
            &:not(:nth-child(-n + 2)) {
                display: none;
            }
        }
    }
}

.projects-section_page-limit {
    
    @media (max-width: $tablet) {
        
        & .project-card {
            
            &:not(:nth-child(-n + 5)) {
                display: none;
            }
        }
    }
}