.resume-section {
    margin-bottom: 124px;

    @media (max-width: $tablet) {
        margin-bottom: 80px;
    }
}

.resume-section__body {

}

.resume-section__email {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
    color: $accent;

    @media (max-width: $mobile-l) {
        font-size: 24px;
    }
}